.btn-link{
    text-decoration:none !important;
}
.is-invalid .invalid-feedback{
    display: block!important;
}

.resume-list{

}

.resume_card{
    box-shadow: 0 3px 4px rgba(0,0,0,.16);
    padding: 20px 30px 30px;
    margin-bottom: 125px;
    background: #fff;
    margin-top: 30px;
    /*overflow: hidden;*/
    /*overflow-y: scroll;*/
    /*max-height: 715px;*/
}

.btn-custom{
    background-color: #fff;
    border: 1px solid #cdcdcd;
    box-shadow: 0 0 6px rgba(0,0,0,.17);
    padding: 4px 10px;
    border-radius: 5px;
}
.btn-custom:hover {
    background: beige;
}
.btn-red{
    background: #dc3545;
    color: #fff;
}

.btn-red:hover{
    background: #bd2130 !important;
    color: #fff;
}

.btn-yellow{
    background: #ffbf35;
    color: #fff;
}
.custom-progressbar{
    width: 100%;
    background-color: #F1F5F6;
    position: relative;
    z-index: 0;
    height: 170px;
}

.prewritten-label{
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #F1F5F6;
}






.head-tabs a.active{
    background-color: #EB1A2D;
    color: #fff;
}

/* .templateList{
    overflow: hidden;
    overflow-y: scroll;
    max-height: 779px;
} */

a.primary-btn{
    color: #fff !important;
}

.resume-list-wrap .item a{
    position: absolute;
    transform: translate(50px, 20px);
    transition: .3s;
}
.resume-list-wrap .item:hover > a{
    transform: translate(50px, -70px);
    transition: .3s;
}

.mr-5{margin-right: 5px;}
.mr-10{margin-right: 10px;}
.mr-15{margin-right: 15px;}
.mr-20{margin-right: 20px;}
.mr-25{margin-right: 25px;}
.mt-5{margin-top: 5px;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}
.mt-20{margin-top: 20px;}
.mt-25{margin-top: 25px;}
.mt-30{margin-top: 30px;}
.mb-2{margin-bottom: 2px;}
.mb-5{margin-bottom: 5px;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}
.mb-25{margin-bottom: 25px;}
.mb-30{margin-bottom: 30px;}

.p-5{padding: 5px;}
.p-10{padding: 10px;}
.pb-5{padding-bottom: 5px;}
.pb-10{padding-bottom: 10px;}

.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-15{padding-right: 15px;}
.pr-20{padding-right: 20px;}

.resumeTitle{
    cursor: pointer;
}
.cancel-btn{
    background: #dc3545;
    color: #fff;
}
.color-box{
    box-shadow: 0 3px 15px rgba(0,0,0,.16);
    text-align: center;
    padding: 6px 0 0;
    margin-bottom: 20px;
}

.color-box .item{
    width: 35px;
    height: 35px;
    border-radius: 3px;
    margin: 4px;
    display: inline-block;
    position: relative;
}
.color-box .item.selected:after {
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    content: "\f00c";
    color: #fff;
    position: absolute;
    font-size: 20px;
    left: 8px;
    top: 3px;
}
.customStyle{
    margin-top: 5px;
    font-size: 20px;
}
.styleIcon{
    cursor: pointer;
}
.styleIcon.active{
    /*box-shadow: 0 3px 15px rgba(0,0,0,.16);*/
    background-color: #e5e5e5;
    padding: 3px 8px;
    border: 1px #bcbcbc solid;
    border-radius: 50%;
}

.customStyle span{
    padding: 4px 10px;
}

.resume-style-section .form-control{
    min-height: 40px;
}


.resume-img{
    padding: 10px;
}
.card-body{
    padding: 1.25rem 0px !important;
}

/*#loader {*/
/*    !*display: none;*!*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    background: rgba(0,0,0,0.75) url(../images/spinner.svg) no-repeat center center;*/
/*    z-index: 10000;*/
/*}*/

.ck-editor__editable {min-height: 350px;}
.ck-editor__editable {
    max-height: 350px;
}

#hidden_upload_file {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: -25px;
}

.popover-header .close{
    position: relative;
    bottom: 5px;
}

/* Side Nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 -2px 9px rgba(0,0,0,.18);
}
.sidenav-header{
    padding: 20px 10px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.sidenav-body{
    padding: 20px 20px;
}
.sidenav .closeBtn {
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.downloadHeader{
    padding: 21px 0px;
    background: #EB1A2D;
    color: #fff;
    text-align: center;
}


/* Draggable */
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul.sortable{
    /*border: 1px solid #999999;*/
    list-style-type: none;
}
ul.sortable li.placeholder {
    position: relative;
    /** More li styles **/
}
ul.sortable li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

i.move {cursor: move;}

.checkout-box{
    box-shadow: 0 3px 15px rgba(0,0,0,.16);
}

mark {
    color: #dc3545;
}

.form-panel strong{
    color: #dc3545;
}

/*.resume-shadow{*/
/*    box-shadow: 0px 1px 11px 2px #00000036;*/
/*}*/



.overlayPosition{
    display: none;
    position: absolute;
    top: 5px;
    left: 105px;
    width: 400px;
    height: 52px;
    border: 2px solid #EB1A2D;
    z-index: 9;
    -webkit-transition: all 120ms ease-in-out;
    transition: all 120ms ease-in-out;
}
.overlayPosition .overlayBG {
    opacity: .3;
    height: 100%;
    display: block;
    background: #EB1A2D;
}
.overlayPosition.contact{
    top: 63px;
    height: 71px;
}

.overlayPosition.experience{
    top: 251px;
    height: 282px;
    left: 94px;
}

.overlayPosition.education{
    top: 529px;
    height: 100px;
    left: 94px;
}

.popover{
    max-width: 30%;
}
.custom_resume_card strong {
    color: #dc3545;
}
